body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: #ffffff; /* white background */
}

#graph {
  width: 100vw;
  height: 100vh;
}

.node circle {
  stroke: #7c7c7c; /* black border around nodes */
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font-size: 12px;
  fill: #000000; /* black text */
}

.link {
  stroke: #aaa;
  stroke-width: 1.5px;
}

svg {
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

