body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: #ffffff; /* white background */
}

#graph {
  width: 100vw;
  height: 100vh;
}

.node circle {
  stroke: #7c7c7c; /* black border around nodes */
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font-size: 12px;
  fill: #000000; /* black text */
  font-weight: normal;
}

.node text.himo { /* HIMO root node : larger, bold and white text */
  fill: white;
  font-size: 20px;
  font-weight: bold;
}

.node text.fonds, .node text.context, .node text.pendingfonds { /* Main fonds nodes : larger and bold text */
  font-weight: bold;
  font-size: 14px;
}

.link {
  stroke: #aaa;
  stroke-width: 1.5px;
}

svg {
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

